@font-face{
    font-family: "ms-yahei-bold";
    src: url('../fonts/microsoft-yahei-bold.ttf');
  }
  
  @font-face{
    font-family: "ms-yahei";
    src: url('../fonts/microsoft-yahei.ttf');
  }
  
  @font-face{
    font-family: "ms-jhenghei";
    src: url('../fonts/microsoft-jhenghei.ttf');
  }
  
  @font-face{
    font-family: "ms-jhenghei-bold";
    src: url('../fonts/microsoft-jhenghei-bold.ttf');
  }
  