.admin_controls {
  display: flex;
  height: 100%;
  width: 100%;
  & .control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 21px 16px 21px;
    border-bottom: 1px solid #cbcbcb;
    @media (max-width: 992px) {
      flex-flow: column;
    }

    & .icon {
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    & input {
      border-radius: 15px;
      background-color: #dbdbdb;
      border: none;
      padding: 8px 0 8px 35px;
      font-size: 15px;
      font-family: "ms-yahei-bold";
      width: 421px;
      color: #707070;

      &:focus {
        outline: none;
      }

      @media (max-width: 992px) {
        display: flex;
        width: calc(100% - 35px);
        padding: 8px 0 8px 35px;
      }
    }

    & select {
      border-radius: 15px;
      background-color: #dbdbdb;
      border: none;
      padding: 8px 0px 8px 35px;
      font-size: 15px;
      font-family: "ms-yahei-bold";
      color: #707070;
      appearance: none;
      width: 233px;
      &:focus {
        outline: none;
      }
      @media (max-width: 992px) {
        display: flex;
        width: 100%;
        padding: 8px 15px;
        margin: 10px 0;
        padding-left: 35px;
      }
    }
    & .div-btn-show-form-cadastro-coordenador,
    .div-btn-show-form-cadastro-curso {
      & button {
        cursor: pointer;
        border-radius: 15px;
        background-color: #28d93f;
        border: none;
        font-size: 15px;
        font-family: "ms-yahei-bold";
        padding: 8px 35px 8px 20px;
        color: white;
        &:focus {
          outline: none;
        }
        @media (max-width: 992px) {
          width: 100%;
          padding: 8px 15px;
          display: flex;
        }
      }
    }

    & .fa-search {
      &:before {
        display: inline-block;
        position: absolute;
        content: "";
        background-image: url("../../../assets/icons/search.svg");
        background-repeat: no-repeat;
        background-size: 17px 17px;
        width: 17px;
        height: 17px;
        margin: 10px 0 0 13px;
      }
    }

    & .fa-filter {
      position: relative;
      &:before {
        display: inline-block;
        position: absolute;
        content: "";
        background-image: url("../../../assets/icons/filter.svg");
        background-repeat: no-repeat;
        background-size: 17px 17px;
        width: 17px;
        height: 17px;
        margin: 10px 0 0 13px;
        @media (max-width: 992px) {
          margin: 20px 0 0 13px;
        }
      }
      &:after {
        display: inline-block;
        position: absolute;
        content: "";
        background-image: url("../../../assets/icons/drop-down.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 10px;
        height: 10px;
        margin: 18px 0 0 0px;
        right: 10px;
        @media (max-width: 992px) {
          top: 8px;
          margin: 20px 0 0 13px;
        }
      }
    }

    & .fa-plus {
      position: relative;
      & button:after {
        display: inline-block;
        position: absolute;
        content: "";
        background-image: url("../../../assets/icons/plus.svg");
        background-repeat: no-repeat;
        background-size: 17px 17px;
        width: 17px;
        height: 17px;
        margin: 2px 0 0 150px;
        right: 10px;
      }
    }
  }

  & .pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    background-color: #e4eceb;
    border-radius: 0px 0px 15px 15px;
    & .nothing {
      width: 100px;
    }
    @media (max-width: 992px) {
      flex-flow: column;
    }
  }

  & .results {
    height: 100%;
  }

  & .form {
    font-family: "ms-yahei";
    display: flex;
    justify-content: center;
    align-items: flex-start;

    & form {
      border: 1px none rgb(158, 158, 158);
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      max-width: 350px;
      width: 100%;
      padding: 10px 5px 0 5px;

      & .header {
        width: 100%;
        & p {
          text-align: center;
          font-family: "ms-yahei-bold";
          margin: 10px 5px;
          font-size: 25px;
          color: #717171;
        }
      }
      & .body {
        width: 75%;
        & label {
          font-family: "ms-jhenghei";
          font-size: 14px;
        }

        & input {
          width: calc(100% - 11px);
        }
        & select {
          width: 100%;
        }
        & input,
        select {
          margin-bottom: 10px;
          font-size: 15px;
          border: 1px solid rgb(158, 158, 158);
          border-radius: 5px;
          padding: 8px 5px;

          &:focus {
            outline: none;
          }
        }
      }

      & .footer {
        width: 75%;
        margin-top: 5px;
        & button.cadastrar {
          width: 100%;
          border: none;
          color: #fff;
          background-color: rgb(73, 173, 255);
          font-size: 17px;
          font-family: "ms-jhenghei-bold";
          border-radius: 10px;
          padding: 10px 0;
          cursor: pointer;
          transition: ease-in-out 0.2s;
          &:hover {
            background-color: rgb(35, 138, 223);
          }
        }

        & button.cancelar {
          width: 100%;
          border: none;
          color: #fff;
          background-color: rgb(255, 73, 73);
          font-size: 17px;
          font-family: "ms-jhenghei-bold";
          border-radius: 10px;
          padding: 10px 0;
          margin-top: 15px;
          cursor: pointer;
          transition: ease-in-out 0.2s;
          &:hover {
            background-color: rgb(223, 35, 35);
          }
        }
      }
    }
    height: 100%;
  }
}

.hide {
  display: none !important;
}

#cursos,
#coordenadores {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
}

#cursos .control {
  & .icon {
    display: flex;
    @media (min-width: 992px) {
      &:first-of-type {
        width: 80%;
      }
      &:last-of-type {
        width: 20%;
      }
    }
  }
  & input {
    width: 90%;
    @media (max-width: 992px) {
      margin-bottom: 10px;
      width: calc(100% - 15px);
    }
  }

  & button {
    width: 100%;
    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
